<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WatchParty.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WatchParty.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WatchParty.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MasteranimeUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSource" serializeAs="String">
                <value>SourceMasteranime</value>
            </setting>
        </WatchParty.Settings>
        <WatchParty.Settings1>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maUrl" serializeAs="String">
                <value />
            </setting>
        </WatchParty.Settings1>
    </userSettings>
</configuration>